.header {
  background: rgb(9, 9, 12);
  width: 1920px;
  height: 76px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 4px 64px 4px 64px;
  font-family: TT Norms Pro;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 20px;
}

.activeNav::after {
  background: linear-gradient(
                  45deg,
                  rgb(242, 244, 82) 0%,
                  rgb(180, 253, 100) 64%
  );
  border-radius: 2px;
  bottom: -8px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 10px;
  width: 100%;
}

.activeNav {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerLogoNav {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.headerNav {
  display: flex;
  gap: 28px;
  align-items: center;

  span {
    cursor: pointer;
  }
}

.headerNavRight {
  display: flex;
  gap: 8px;
}

.navRight {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-items: center;
}

.Btn {
  padding: 10px 16px 10px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-items: center;
  gap: 8px;
  /* Button Desktop/16 */
  color: rgb(255, 255, 255);
  font-family: TT Norms Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;

  &.gradient {
    background: linear-gradient(
                    45deg,
                    rgb(242, 244, 82) 0%,
                    rgb(180, 253, 100) 64%
    );
    color: rgb(9, 9, 12);
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  &.grey {
    background: #232326;
  }
}

.installImageMobile{
  display: none;
}
@media (max-width: 375px) {
  .headerNav {
    display: none;
  }
  .header {
    justify-content: space-between;
    max-width: 375px;
    align-items: center;
    gap: 40px;
    padding: 0 16px;
  }
  .installText {
    display: none;
  }
  .Btn {
    &.gradient {
      display: none;
    }

    &.grey {
      background: #171717;
    }
  }
  .promo {
    display: none;
  }
  .Btn {
    padding: 0;
    gap:25px;
  }
  .searchText {
    /* Button/16_medium */
    color: rgb(186, 186, 186);
    font-family: TT Norms Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .headerNavRight {
    gap: 25px;
  }
  .installImage{
    display: none;
  }
  .installImageMobile{
    display: flex;
  }
}
